/*FOOTER*/
#footer {
	position: absolute; 
	z-index: 110;
	top: 93.5%;
	width: 100%;
	height: 7%;
	padding: 0;
	text-align:center;
}

/*Spacer for Menu screens*/
#bottomListSpacer{
	width:100%;
	height:7%;
}
